<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Jack Hyman</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/pdf-css.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>

    
  	<body class="pdf-body">
  		<div class="text-right"><a href=""> Print</a></div>
  		<div class="pdf-area py-3">
  			<div class="head d-flex justify-content-between">
  				<div class="d-flex">
  					<div class="">
	  					<h6>110% INC</h6>
	  					<h6>DBA</h6>
  					</div>
  					<div class="">
  						<p>COMPANY X</p>
  					</div>

  				</div>
  				<div class="company-inc">
  					<h6>COMPANY X INC</h6>
  					<h6>555,5555.1212</h6>
  					<p>www.website.com</p>
  				</div>
  				<div class="order-dt">
  					<table class="table">
					  <tbody>
					    <tr>
					      <th scope="row">Order No.</th>
					      <td>{{add_order.order_id}}</td>
					    </tr>
					    <tr>
					      <th scope="row">Date</th>
					      <td>{{add_order.created_at|date:"Y-m-d"}}</td>
					    </tr>
					    <tr>
					      <th scope="row">Referred By:</th>
					      <td></td>
					    </tr>
					  </tbody>
					</table>
  				</div>
  			</div>	

  			<!-- second head -->
  			<div class="order-dt">
  					<table class="table">
					  <tbody>
					    <tr>
					      <th scope="row">Customer:</th>
					      <td colspan="2">{{add_order.customer.user.first_name}}</td>
					      <th scope="row">Address:</th>
					      <td colspan="2">{{add_order.customer.biling_address}}</td>
					    </tr>
					    <tr>
					      <th scope="row">City:</th>
					      <td>{{add_order.customer.city}}</td>
					      <th scope="row">Country:</th>
					      <td>{{add_order.customer.country}}</td>
					      <th scope="row">State:</th>
					      <td>{{add_order.customer.state}}</td>
					      <th scope="row">Zip:</th>
					      <td>{{add_order.customer.postal_code}}</td>
					    </tr>
					    <tr>
					      <th scope="row">Phone:</th>
					      <td colspan="2">{{add_order.customer.business_phone}}</td>
					      <th scope="row">P/C:</th>
					      <td>{{add_order.customer.cell_phone}}</td>
					      <th scope="row">Fax:</th>
					      <td>{{add_order.customer.fax_number}}</td>
					    </tr>
					  </tbody>
					</table>
  				</div>
  				<div class="form-group">
                  <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Job Location" class="form-control">
                </div>
                <div class="compny-check d-flex justify-content-center">
                	<h6 class="mr-4">COMPANY X</h6>
                	<span class="form-check mr-4">
					    <input type="checkbox" class="form-check-input" id="exampleCheck1">
					    <label class="form-check-label" for="exampleCheck1">Will furnish</label>
					 </span>
					 <span class="form-check mr-4">
					    <input type="checkbox" class="form-check-input" id="exampleCheck2">
					    <label class="form-check-label" for="exampleCheck2">Will install</label>
					 </span>
                	<span>the following</span>
                </div>
                <div class="main-table">
                	<table class="table table-bordered">
					  <thead>
					    <tr>
					      <th scope="col">Product/Service #</th>
					      <th scope="col">Color/Pattern</th>
					      <th scope="col">Qty/UM</th>
					      <th scope="col">Areas</th>
					      <th scope="col">Price</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for pro in add_order.products_set.all %}
					    <tr>
					      <td><p>{{pro.product_name}}</p></td>
					      <td><p>{{pro.color}}</p></td>
					      <td><p>{{pro.qty}}</p></td>
					      <td><p>{{pro.area}}</p></td>
					      <td><p>$ {{pro.price}}</p></td>
					    </tr>
					    {% endfor %}
					    <!-- <tr>
					      <td><p></p></td>
					      <td></td>
					      <td></td>
					      <td></td>
					      <td></td>
					    </tr>
					    <tr>
					      <td><p></p></td>
					      <td></td>
					      <td></td>
					      <td></td>
					      <td></td>
					    </tr>
					    <tr>
					      <td><p></p></td>
					      <td></td>
					      <td></td>
					      <td></td>
					      <td></td>
					    </tr>
					    <tr>
					      <td><p></p></td>
					      <td></td>
					      <td></td>
					      <td></td>
					      <td></td>
					    </tr>
					    <tr>
					      <td><p></p></td>
					      <td></td>
					      <td></td>
					      <td></td>
					      <td></td>
					    </tr> -->
					    <tr>
					      <th colspan="4">Labor</th>
					      <td>$ {{add_order.labor_price}}</td>
					    </tr>
					    <tr>
					      <th colspan="4">Floor Prep</th>
					      <td>$ {{add_order.floor_prep_price}}</td>
					    </tr>
					    <tr>
					      <th colspan="4">Sub-Floor</th>
					      <td>$ {{add_order.sub_floor_price}}</td>
					    </tr>
					    <tr>
					      <th colspan="4">Appliances</th>
					      <td>$ {{add_order.appliances_price}}</td>
					    </tr>
					    <tr>
					      <th colspan="4">Trim</th>
					      <td>$ {{add_order.trim_price}}</td>
					    </tr>
					    <tr>
					      <th colspan="4">Miscellaneous</th>
					      <td>$ {{add_order.miscellaneous_price}}</td>
					    </tr>
					   
					    <tr>
					      <th colspan="3">Price Includes</th>
					      <th class="text-right">Sub-Total</th>
					      <td>$ {{add_order.sub_total}}</td>
					    </tr>
					    <tr>
					      <th colspan="4" class="text-right">Sales Tax</th>
					      <td>{{add_order.sales_tax}} %</td>
					    </tr>
					    <tr>
					      <th colspan="4" class="text-right">Total</th>
					      <td>$ {{add_order.total}}</td>
					    </tr>
					    <tr>
					      <th colspan="4" class="text-right">50% Deposit</th>
					      <td>$ {{add_order.deposit}}</td>
					    </tr>
					    <tr>
					      <th colspan="4" class="text-right">Balance Due</th>
					      <td>$ {{add_order.balance_due}}</td>
					    </tr>

					  </tbody>
					</table>
                </div>
                <div class="row">
                	<div class="col-md-5">
		                <div class="office-use">
		                	<h5>For Office Use Only:</h5>
		                	<p>Install date: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                	<p>Mfg reference: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                	<p>Product receipt date: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                	<p>MPS: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                	<p>IPS: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                	<p>MP: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                	<p>IC: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                	<p>MC: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                	<p>GP: <span class="office-text"><input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" class="form-control"></span></p>
		                </div>
		            </div>
		            <div class="col-md-5">
		            	<div class="addintinl-info form-group">
		            		<textarea class="form-control" id="exampleFormControlTextarea1" rows="15" placeholder="Additions and/or deletions to contract:"></textarea>
						</div>
		            </div>
            	</div>
            	<div class="d-flex mt-3">
	            	<div class="form-check mr-4">
					    <input type="checkbox" class="form-check-input" id="visa1">
					    <label class="form-check-label" for="visa1">Visa</label>
					</div>
					<div class="form-check mr-4">
					    <input type="checkbox" class="form-check-input" id="card1">
					    <label class="form-check-label" for="card1">Master Card</label>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group row">
						    <label for="inputPassword" class="col-sm-2 col-form-label" style="white-space: nowrap;">Card No.</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
						    </div>
						  </div>
					</div>
					<div class="col-6">
						<div class="form-group row">
						    <label for="inputPassword" class="col-sm-2 col-form-label">Exp:</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
						    </div>
						 </div>
					</div>
				</div>
				<strong>PAYMENTIN FIUI I TO RF MADE UPON COMPLETION OF INSTALLATION. IINIFSS OTHFRWISE NOTED.</strong>
				<div class="row">
					<div class="col-6">
						<div class="form-group row">
						    <label for="inputPassword" class="col-sm-2 col-form-label">Signature:</label>
						    <div class="col-sm-10 office-text">
						      <input type="password" class="form-control" id="inputPassword">
						    </div>
						 </div>
					</div>
					<div class="col-6">
						<div class="form-group row">
						    <label for="inputPassword" class="col-sm-2 col-form-label">Signature:</label>
						    <div class="col-sm-10 office-text">
						      <input type="password" class="form-control" id="inputPassword">
						    </div>
						 </div>
					</div>
				</div>
				<strong>BALANCE DUE WILL BE CHARGED TO CARD ON FILE</strong>
  		</div>
		



 
            
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="js/jquery.min.js"></script>      
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </body>
    
</html>